#an{
  padding: 10px;
  margin: 10px;
  gap: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.adi{
  border: 5px solid gold;
  height: 250px;
  width: 250px;
  padding: 10px;
  margin: 10px;
}