#book{
  border: 5px solid red;
  border-radius: 8px;
  height: 300px;
  width: 300px;
  background-color: rgb(172, 205, 139);
  color: white;
  font-size: 18px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: cornflowerblue;
  cursor: pointer;
  transition: border-color 0.25s;
}