.navbar {
  background-color: #002147;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.nav-logo {
  color: #f5c518;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-item:hover {
  color: #f5c518;
  transform: scale(1.1);
}

.cart-badge {
  background-color: yellow;
  color: #002147;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}
